html{
    height: 95%;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
#title{
    background-image: url("https://images.ctfassets.net/w58jpvtm8bul/5E2lhVMx5EelEc0hojbvT6/a120b4c31fe1413097bb33c7a7b3379d/ECell.jpg?w=1800&q=90");
    background-repeat: no-repeat;
    padding-bottom: 280px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    background-size: cover;
    background-color :#3487C0;
    background-blend-mode: multiply
}
body{
    font-family: 'Montserrat';
    height: 40%;
    
   
    
}
#footer{
    height: 30px;
}
.nameh{
    font-weight: bold;
    font-family: 'Montserrat';
    letter-spacing: 0.3em;
}
.desch{
    margin-bottom: 69px;
    font-family: 'Ubuntu';
    font-style: italic;
}
.adjust{
    height: 200px;
    width: 200px;
    margin-bottom: 20px;
    border-radius: 40px;
}
#Fluid{
    padding : 4% 15%;
    color:#fff;
}
#navbar{
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 4.5rem;
}
#brand{
    font-family: 'Ubuntu', sans-serif;
    font-size:2.5rem;
    font-weight: bold;
}
li{
    font-size : 1.2rem;
    padding :0 18px;
    font-family: 'Montserrat';
    font-weight: lighter;
}
#iconf{
    height: 30px;
    mix-blend-mode: multiply;
    color: white;
}
h1{
    text-align: center;
}
#Heading{
    font-size: 1em;
    letter-spacing: 2em;
}
#community{
    margin-top : 2%;
    font-size : 4.4em;
    letter-spacing: 0.3em;
}
.row{
    margin-top: 100px;
    text-align: center;
}